
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333
}

/* layout */


 .main {
    margin-left: 100px; 
    margin-top: 44px;
    padding: 0px 10px;
    } 



/* navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #59adc9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  li a {
    float: left;
    display: block;
    color: white;
    text-align: left;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #2d7e99;
  }
  
  .active {
    background-color: #2d7e99;
  }

/* sidebar */
.sidenav {
    height: 100%;
    width: 108px; 
    position: fixed; 
    z-index: 1; 
    top: 44px;
    left: 0;
    background-color: #51bfd3;
    overflow-x: hidden; 
    padding-top: 20px;
  }
  /* links */
  .sidenav a {
    padding: 6px 8px 6px 6px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
 /* content */
 .maincontent {
  border: 1px solid black;
  margin-left: 100px;
  margin-top: 44px;
  margin-bottom: 0px;
  height: 900px;
  
  background-color: lightblue;
}
#hz-logo{
width: 400px;
height: 100px;
}

  
